<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>添加用户</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/css/public.css">
</head>
<body class="childrenBody">
<form class="layui-form" style="width:80%;">
    <div class="layui-row">
        <div class="magb15 layui-col-md6 layui-col-xs12">
            <label class="layui-form-label">登录名</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input userName" lay-verify="required" placeholder="请输入登录名">
            </div>
        </div>
        <div class="magb15 layui-col-md6 layui-col-xs12">
            <label class="layui-form-label">职工号</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input no" lay-verify="required" placeholder="请输入职工号">
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="magb15 layui-col-md6 layui-col-xs12">
            <label class="layui-form-label">邮箱</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input userEmail" lay-verify="email" placeholder="请输入邮箱">
            </div>
        </div>
        <div class="magb15 layui-col-md6 layui-col-xs12">
            <label class="layui-form-label">电话</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input userTel" lay-verify="tel" placeholder="请输入电话号码">
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="magb15 layui-col-md6 layui-col-xs12">
            <label class="layui-form-label">部门</label>
            <div class="layui-input-block">
                <select name="userdept" class="userdept" lay-filter="dept">
                    <option value="0">办公室</option>
                    <option value="1">技术部</option>
                </select>
            </div>
        </div>
        <div class="magb15 layui-col-md6 layui-col-xs12">
            <label class="layui-form-label">用户状态</label>
            <div class="layui-input-block">
                <select name="userStatus" class="userStatus" lay-filter="userStatus">
                    <option value="0">正常使用</option>
                    <option value="1">限制用户</option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="magb15 layui-col-md6 layui-col-xs12">
            <label class="layui-form-label">职务名称</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input jobTitle" lay-verify="jobTitle" placeholder="请输入职务名称">
            </div>
        </div>
        <div class="magb15 layui-col-md6 layui-col-xs12">
            <label class="layui-form-label">排序号</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input userSort" lay-verify="sort" placeholder="请输入排序号">
            </div>
        </div>
    </div>
    <div class="layui-form-item layui-row layui-col-xs12">
        <div class="layui-input-block">
            <button class="layui-btn " lay-submit="" lay-filter="addUser">添加</button>
            <button class="layui-btn cancel-btn">返回</button>
            <button type="reset" class="layui-btn  layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript">
    layui.use(['form', 'layer'], function () {
        var form = layui.form
        layer = parent.layer === undefined ? layui.layer : top.layer,
            $ = layui.jquery;

        form.on("submit(addUser)", function (data) {
            //弹出loading
            var index = top.layer.msg('数据提交中，请稍候', {icon: 16, time: false, shade: 0.8});
            // 实际使用时的提交信息
            $.post("/user/add", {
                username: $(".userName").val(),  //登录名
                no: $(".no").val(),
                email: $(".userEmail").val(),  //邮箱
                tel: $(".userTel").val(),
                department: data.field.userdept,
                status: data.field.userStatus,    //用户状态
                jobTitle: $(".jobTitle").val(),
                sort: $('.userSort').val()
            }, function (res) {

            })
            setTimeout(function () {
                top.layer.close(index);
                top.layer.msg("用户添加成功！");
                layer.closeAll("iframe");
                //刷新父页面
                parent.location.reload();
            }, 2000);
            return false;
        })

        $(".cancel-btn").on("click", function () {
            layer.closeAll("iframe");
        })

        //格式化时间
        function filterTime(val) {
            if (val < 10) {
                return "0" + val;
            } else {
                return val;
            }
        }

        //定时发布
        var time = new Date();
        var submitTime = time.getFullYear() + '-' + filterTime(time.getMonth() + 1) + '-' + filterTime(time.getDate()) + ' ' + filterTime(time.getHours()) + ':' + filterTime(time.getMinutes()) + ':' + filterTime(time.getSeconds());

    })
</script>
</body>
</html>