<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.model.SysUser">
    <!--@mbg.generated-->
    <!--@Table sys_user-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="login_name" jdbcType="VARCHAR" property="loginName" />
    <result column="no" jdbcType="VARCHAR" property="no" />
    <result column="department" jdbcType="INTEGER" property="department" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="job_title" jdbcType="VARCHAR" property="jobTitle" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="del_flag" jdbcType="INTEGER" property="delFlag" />
    <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="last_login_ip" jdbcType="VARCHAR" property="lastLoginIp" />
    <result column="creator" jdbcType="INTEGER" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier" jdbcType="INTEGER" property="modifier" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
  </resultMap>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
     id, username, login_name, `no`, department, `password`, tel, email, job_title, `status`,
      sort, del_flag, last_login_time, last_login_ip, creator, create_time, modifier, modified_time
    from sys_user
    where id = #{id,jdbcType=INTEGER}
  </select>



</mapper>